td{
    border-right:   solid 1px ;
    border-bottom:   solid 1px ;
    width: calc(100% /8);
 }
 
 
 td p {
     border: 1px solid transparent;
     font-size: 1em;
     font-weight: 800;
     border-radius: 6px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: Agency FB;
     background-color: #1a1a1a;
     cursor: pointer;
     transition: border-color 0.25s;
     min-width: 80%;
     text-align: center;
   }
 
   p:hover {
     border-color: #646cff;
     min-width: 80%;
   }
 

